<!doctype html>
<html class="scroll-smooth h-dvh">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>    
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/site-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Forum&family=Orbitron:wght@400..900&family=Tangerine:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="grid min-h-full grid-rows-[auto_1fr_auto]">
    {% include navigation.html %}
    <main class="min-h-full grow">{{ content }}</main>
    {% include footer.html %}
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>